:root {
    --tileSize: 40px;
    --gap: 5px;
}

.icon {
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 30;
    height: 30;
}

/* fonts */
.regular {
    font-family: "Belanosima", serif;
    font-weight: 400;
    font-style: normal;
}

.semibold {
    font-family: "Belanosima", serif;
    font-weight: 600;
    font-style: normal;
}

.bold {
    font-family: "Belanosima", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    display: grid;
    background-color: rgb(18, 18, 18);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    color: rgb(18, 18, 18);
    gap: 10px;
}

#display {
    display: flex;
    align-items: flex-start; /* Prevent stretching */
    height: max-content;
    width: max-content;
    gap: 5px;
}

#discs-holder {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    height: calc(9 * var(--tileSize) + 8 * var(--gap));
    width: auto;
    gap: var(--gap);
    padding: var(--gap);
    overflow-y: scroll !important;
    scrollbar-width: none;
}

.album {
    overflow: hidden;
    width: var(--tileSize);
    height: var(--tileSize);
    cursor:not-allowed;
}

#board {
    display: grid;
    background-color: rgb(29, 29, 29);
    gap: var(--gap);
    grid-template-columns: repeat(7, var(--tileSize));
    grid-template-rows: repeat(9, var(--tileSize));
    border-radius: 5px;
    padding: var(--gap); /* Match #discs-holder's padding */
    margin: auto;
    width: max-content;
    height: max-content;
    overflow: hidden;
}

.tile {
    width: var(--tileSize);
    height: var(--tileSize);
    background-color: rgba(255, 0, 0, 0);
    border-radius: 5px;
    cursor: grab;
    align-items: center;
    background-size: contain;
    padding: 0;
    transition: 250ms;
    transform-origin: center center;
}

.generator {
    background-color: rgb(30, 215, 96);
    background-size: contain;
    background-image: url('images/random.png');
    cursor: pointer;
}

.empty {
    background-color: rgb(35, 35, 35);
    cursor: default;
}

.stat-holder {
    gap: 5px;
    display: flex;
    border-radius: 50rem;
    background: #ffffff;
    width: fit-content;
    padding-right: 10px;
    height: 20px;
    margin: 1%;
    align-items: center;
}

#stats {
    display: flex;
}